<div class="wrapper">
    <button class="btn btn-success" (click)="openPopUp()">Open Modelbox</button>
</div>

<div class="over-lay" *ngIf="show" (click)="closeOverlay($event)">
    <div class="content">
        <div class="close" (click)="closePopUp()">
            &times;
        </div>
        <div>
            <div class="field">
                <span>Username</span>
                <input type="text" class="form-control">
            </div>
            <div>
                <span>Password</span>
                <input type="text" class="form-control" [type]="showPassword ? 'text': 'password' ">
                <div class="eye-image">
                    <i class="bi bi-eye" *ngIf="!showPassword" (click)="toggleShow()"></i>
                    <i class="bi bi-eye-slash" *ngIf="showPassword" (click)="toggleShow()"></i>
                </div>
            </div>
            <button class="btn btn-primary">Sign-in</button>
        </div>
    </div>
</div>