<div class="wrapper">
    <button class="btn btn-success" (click)="openPopUp()">Open Modelbox</button>
</div>

<div class="over-lay" *ngIf="show" (click)="closeOverlay($event)">
    <div class="content">
        <div class="close" (click)="closePopUp()">
            &times;
        </div>
        <div>
            <span>Username</span>
            <input type="text" class="form-control">
            <span>Password</span>
            <input type="text" class="form-control">
            <button class="btn btn-primary mt-3">Sign-in</button>
        </div>
    </div>
</div>